body {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

body::before {
  content: "";
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("./images/space-mini.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  animation-name: zoom-in;
  animation-duration: 30s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  z-index: -1;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  body::before {
    /* New background image for medium screens and above */
    background-image: url("./images/space.jpg");
  }
}

@keyframes zoom-in {
  0% {
    transform: scale(1);
    transform: rotate(0);
  }
  60% {
    transform: scale(1.4) rotate(6deg);
  }
  100% {
    transform: scale(1.5) rotate(6deg);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#countdown {
  animation-name: fade-in;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}

.focus-in-contract-bck {
  animation: focus-in-contract-bck 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2s both;
}

@keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    transform: translateZ(300px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    transform: translateZ(12px);
    filter: blur(0);
    opacity: 1;
  }
}

/***************************************************
 * Generated by SVG Artista on 3/3/2023, 11:45:58 PM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

/***************************************************
 * Generated by SVG Artista on 3/3/2023, 11:46:33 PM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

@-webkit-keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 1016.701416015625px;
    stroke-dasharray: 1016.701416015625px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1016.701416015625px;
  }
}
@keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 1016.701416015625px;
    stroke-dasharray: 1016.701416015625px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1016.701416015625px;
  }
}
@-webkit-keyframes animate-svg-fill-1 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(255, 255, 255);
  }
}
@keyframes animate-svg-fill-1 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(255, 255, 255);
  }
}
.svg-elem-1 {
  -webkit-animation: animate-svg-stroke-1 1s cubic-bezier(0.47, 0, 0.745, 0.715)
      0s both,
    animate-svg-fill-1 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s both;
  animation: animate-svg-stroke-1 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both,
    animate-svg-fill-1 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s both;
}
@-webkit-keyframes animate-svg-stroke-2 {
  0% {
    stroke-dashoffset: 611.2594604492188px;
    stroke-dasharray: 611.2594604492188px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 611.2594604492188px;
  }
}
@keyframes animate-svg-stroke-2 {
  0% {
    stroke-dashoffset: 611.2594604492188px;
    stroke-dasharray: 611.2594604492188px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 611.2594604492188px;
  }
}
@-webkit-keyframes animate-svg-fill-2 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(255, 255, 255);
  }
}
@keyframes animate-svg-fill-2 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(255, 255, 255);
  }
}
.svg-elem-2 {
  -webkit-animation: animate-svg-stroke-2 1s cubic-bezier(0.47, 0, 0.745, 0.715)
      0.12s both,
    animate-svg-fill-2 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s both;
  animation: animate-svg-stroke-2 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s
      both,
    animate-svg-fill-2 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s both;
}
@-webkit-keyframes animate-svg-stroke-3 {
  0% {
    stroke-dashoffset: 3318.40234375px;
    stroke-dasharray: 3318.40234375px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 3318.40234375px;
  }
}
@keyframes animate-svg-stroke-3 {
  0% {
    stroke-dashoffset: 3318.40234375px;
    stroke-dasharray: 3318.40234375px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 3318.40234375px;
  }
}
@-webkit-keyframes animate-svg-fill-3 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(255, 255, 255);
  }
}
@keyframes animate-svg-fill-3 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(255, 255, 255);
  }
}
.svg-elem-3 {
  -webkit-animation: animate-svg-stroke-3 1s cubic-bezier(0.47, 0, 0.745, 0.715)
      0.24s both,
    animate-svg-fill-3 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s both;
  animation: animate-svg-stroke-3 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s
      both,
    animate-svg-fill-3 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s both;
}
@-webkit-keyframes animate-svg-stroke-4 {
  0% {
    stroke-dashoffset: 7385.38134765625px;
    stroke-dasharray: 7385.38134765625px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 7385.38134765625px;
  }
}
@keyframes animate-svg-stroke-4 {
  0% {
    stroke-dashoffset: 7385.38134765625px;
    stroke-dasharray: 7385.38134765625px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 7385.38134765625px;
  }
}
@-webkit-keyframes animate-svg-fill-4 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(255, 255, 255);
  }
}
@keyframes animate-svg-fill-4 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(255, 255, 255);
  }
}
.svg-elem-4 {
  -webkit-animation: animate-svg-stroke-4 1s cubic-bezier(0.47, 0, 0.745, 0.715)
      0.36s both,
    animate-svg-fill-4 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s both;
  animation: animate-svg-stroke-4 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s
      both,
    animate-svg-fill-4 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s both;
}
@-webkit-keyframes animate-svg-stroke-5 {
  0% {
    stroke-dashoffset: 7385.38134765625px;
    stroke-dasharray: 7385.38134765625px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 7385.38134765625px;
  }
}
@keyframes animate-svg-stroke-5 {
  0% {
    stroke-dashoffset: 7385.38134765625px;
    stroke-dasharray: 7385.38134765625px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 7385.38134765625px;
  }
}
@-webkit-keyframes animate-svg-fill-5 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(255, 255, 255);
  }
}
@keyframes animate-svg-fill-5 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(255, 255, 255);
  }
}
.svg-elem-5 {
  -webkit-animation: animate-svg-stroke-5 1s cubic-bezier(0.47, 0, 0.745, 0.715)
      0.48s both,
    animate-svg-fill-5 0.7s cubic-bezier(0.47, 0, 0.745, 0.715)
      1.2000000000000002s both;
  animation: animate-svg-stroke-5 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s
      both,
    animate-svg-fill-5 0.7s cubic-bezier(0.47, 0, 0.745, 0.715)
      1.2000000000000002s both;
}
@-webkit-keyframes animate-svg-stroke-6 {
  0% {
    stroke-dashoffset: 1897.3062744140625px;
    stroke-dasharray: 1897.3062744140625px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1897.3062744140625px;
  }
}
@keyframes animate-svg-stroke-6 {
  0% {
    stroke-dashoffset: 1897.3062744140625px;
    stroke-dasharray: 1897.3062744140625px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1897.3062744140625px;
  }
}
@-webkit-keyframes animate-svg-fill-6 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(255, 255, 255);
  }
}
@keyframes animate-svg-fill-6 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(255, 255, 255);
  }
}
.svg-elem-6 {
  -webkit-animation: animate-svg-stroke-6 1s cubic-bezier(0.47, 0, 0.745, 0.715)
      0.6s both,
    animate-svg-fill-6 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s both;
  animation: animate-svg-stroke-6 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s
      both,
    animate-svg-fill-6 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s both;
}
@-webkit-keyframes animate-svg-stroke-7 {
  0% {
    stroke-dashoffset: 1493.619140625px;
    stroke-dasharray: 1493.619140625px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1493.619140625px;
  }
}
@keyframes animate-svg-stroke-7 {
  0% {
    stroke-dashoffset: 1493.619140625px;
    stroke-dasharray: 1493.619140625px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1493.619140625px;
  }
}
@-webkit-keyframes animate-svg-fill-7 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(255, 255, 255);
  }
}
@keyframes animate-svg-fill-7 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(255, 255, 255);
  }
}
.svg-elem-7 {
  -webkit-animation: animate-svg-stroke-7 1s cubic-bezier(0.47, 0, 0.745, 0.715)
      0.72s both,
    animate-svg-fill-7 0.7s cubic-bezier(0.47, 0, 0.745, 0.715)
      1.4000000000000001s both;
  animation: animate-svg-stroke-7 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.72s
      both,
    animate-svg-fill-7 0.7s cubic-bezier(0.47, 0, 0.745, 0.715)
      1.4000000000000001s both;
}
@-webkit-keyframes animate-svg-stroke-8 {
  0% {
    stroke-dashoffset: 1437.26318359375px;
    stroke-dasharray: 1437.26318359375px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1437.26318359375px;
  }
}
@keyframes animate-svg-stroke-8 {
  0% {
    stroke-dashoffset: 1437.26318359375px;
    stroke-dasharray: 1437.26318359375px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1437.26318359375px;
  }
}
@-webkit-keyframes animate-svg-fill-8 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(255, 255, 255);
  }
}
@keyframes animate-svg-fill-8 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(255, 255, 255);
  }
}
.svg-elem-8 {
  -webkit-animation: animate-svg-stroke-8 1s cubic-bezier(0.47, 0, 0.745, 0.715)
      0.84s both,
    animate-svg-fill-8 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s both;
  animation: animate-svg-stroke-8 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.84s
      both,
    animate-svg-fill-8 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s both;
}
@-webkit-keyframes animate-svg-stroke-9 {
  0% {
    stroke-dashoffset: 1085.70263671875px;
    stroke-dasharray: 1085.70263671875px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1085.70263671875px;
  }
}
@keyframes animate-svg-stroke-9 {
  0% {
    stroke-dashoffset: 1085.70263671875px;
    stroke-dasharray: 1085.70263671875px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1085.70263671875px;
  }
}
@-webkit-keyframes animate-svg-fill-9 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(255, 255, 255);
  }
}
@keyframes animate-svg-fill-9 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(255, 255, 255);
  }
}
.svg-elem-9 {
  -webkit-animation: animate-svg-stroke-9 1s cubic-bezier(0.47, 0, 0.745, 0.715)
      0.96s both,
    animate-svg-fill-9 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s both;
  animation: animate-svg-stroke-9 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.96s
      both,
    animate-svg-fill-9 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s both;
}
@-webkit-keyframes animate-svg-stroke-10 {
  0% {
    stroke-dashoffset: 1086.6849365234375px;
    stroke-dasharray: 1086.6849365234375px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1086.6849365234375px;
  }
}
@keyframes animate-svg-stroke-10 {
  0% {
    stroke-dashoffset: 1086.6849365234375px;
    stroke-dasharray: 1086.6849365234375px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1086.6849365234375px;
  }
}
@-webkit-keyframes animate-svg-fill-10 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(255, 255, 255);
  }
}
@keyframes animate-svg-fill-10 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(255, 255, 255);
  }
}
.svg-elem-10 {
  -webkit-animation: animate-svg-stroke-10 1s
      cubic-bezier(0.47, 0, 0.745, 0.715) 1.08s both,
    animate-svg-fill-10 0.7s cubic-bezier(0.47, 0, 0.745, 0.715)
      1.7000000000000002s both;
  animation: animate-svg-stroke-10 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.08s
      both,
    animate-svg-fill-10 0.7s cubic-bezier(0.47, 0, 0.745, 0.715)
      1.7000000000000002s both;
}
@-webkit-keyframes animate-svg-stroke-11 {
  0% {
    stroke-dashoffset: 945.2359619140625px;
    stroke-dasharray: 945.2359619140625px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 945.2359619140625px;
  }
}
@keyframes animate-svg-stroke-11 {
  0% {
    stroke-dashoffset: 945.2359619140625px;
    stroke-dasharray: 945.2359619140625px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 945.2359619140625px;
  }
}
@-webkit-keyframes animate-svg-fill-11 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(255, 255, 255);
  }
}
@keyframes animate-svg-fill-11 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(255, 255, 255);
  }
}
.svg-elem-11 {
  -webkit-animation: animate-svg-stroke-11 1s
      cubic-bezier(0.47, 0, 0.745, 0.715) 1.2s both,
    animate-svg-fill-11 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.8s both;
  animation: animate-svg-stroke-11 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2s
      both,
    animate-svg-fill-11 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.8s both;
}
@-webkit-keyframes animate-svg-stroke-12 {
  0% {
    stroke-dashoffset: 874.9095458984375px;
    stroke-dasharray: 874.9095458984375px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 874.9095458984375px;
  }
}
@keyframes animate-svg-stroke-12 {
  0% {
    stroke-dashoffset: 874.9095458984375px;
    stroke-dasharray: 874.9095458984375px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 874.9095458984375px;
  }
}
@-webkit-keyframes animate-svg-fill-12 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(255, 255, 255);
  }
}
@keyframes animate-svg-fill-12 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(255, 255, 255);
  }
}
.svg-elem-12 {
  -webkit-animation: animate-svg-stroke-12 1s
      cubic-bezier(0.47, 0, 0.745, 0.715) 1.3199999999999998s both,
    animate-svg-fill-12 0.7s cubic-bezier(0.47, 0, 0.745, 0.715)
      1.9000000000000001s both;
  animation: animate-svg-stroke-12 1s cubic-bezier(0.47, 0, 0.745, 0.715)
      1.3199999999999998s both,
    animate-svg-fill-12 0.7s cubic-bezier(0.47, 0, 0.745, 0.715)
      1.9000000000000001s both;
}
@-webkit-keyframes animate-svg-stroke-13 {
  0% {
    stroke-dashoffset: 734.578369140625px;
    stroke-dasharray: 734.578369140625px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 734.578369140625px;
  }
}
@keyframes animate-svg-stroke-13 {
  0% {
    stroke-dashoffset: 734.578369140625px;
    stroke-dasharray: 734.578369140625px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 734.578369140625px;
  }
}
@-webkit-keyframes animate-svg-fill-13 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(255, 255, 255);
  }
}
@keyframes animate-svg-fill-13 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(255, 255, 255);
  }
}
.svg-elem-13 {
  -webkit-animation: animate-svg-stroke-13 1s
      cubic-bezier(0.47, 0, 0.745, 0.715) 1.44s both,
    animate-svg-fill-13 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2s both;
  animation: animate-svg-stroke-13 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.44s
      both,
    animate-svg-fill-13 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2s both;
}
@-webkit-keyframes animate-svg-stroke-14 {
  0% {
    stroke-dashoffset: 729.6575317382812px;
    stroke-dasharray: 729.6575317382812px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 729.6575317382812px;
  }
}
@keyframes animate-svg-stroke-14 {
  0% {
    stroke-dashoffset: 729.6575317382812px;
    stroke-dasharray: 729.6575317382812px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 729.6575317382812px;
  }
}
@-webkit-keyframes animate-svg-fill-14 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(255, 255, 255);
  }
}
@keyframes animate-svg-fill-14 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(255, 255, 255);
  }
}
.svg-elem-14 {
  -webkit-animation: animate-svg-stroke-14 1s
      cubic-bezier(0.47, 0, 0.745, 0.715) 1.56s both,
    animate-svg-fill-14 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.1s both;
  animation: animate-svg-stroke-14 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.56s
      both,
    animate-svg-fill-14 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.1s both;
}
@-webkit-keyframes animate-svg-stroke-15 {
  0% {
    stroke-dashoffset: 702.4636840820312px;
    stroke-dasharray: 702.4636840820312px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 702.4636840820312px;
  }
}
@keyframes animate-svg-stroke-15 {
  0% {
    stroke-dashoffset: 702.4636840820312px;
    stroke-dasharray: 702.4636840820312px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 702.4636840820312px;
  }
}
@-webkit-keyframes animate-svg-fill-15 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(255, 255, 255);
  }
}
@keyframes animate-svg-fill-15 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(255, 255, 255);
  }
}
.svg-elem-15 {
  -webkit-animation: animate-svg-stroke-15 1s
      cubic-bezier(0.47, 0, 0.745, 0.715) 1.68s both,
    animate-svg-fill-15 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.2s both;
  animation: animate-svg-stroke-15 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.68s
      both,
    animate-svg-fill-15 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.2s both;
}
@-webkit-keyframes animate-svg-stroke-16 {
  0% {
    stroke-dashoffset: 281.73828125px;
    stroke-dasharray: 281.73828125px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 281.73828125px;
  }
}
@keyframes animate-svg-stroke-16 {
  0% {
    stroke-dashoffset: 281.73828125px;
    stroke-dasharray: 281.73828125px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 281.73828125px;
  }
}
@-webkit-keyframes animate-svg-fill-16 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(255, 255, 255);
  }
}
@keyframes animate-svg-fill-16 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(255, 255, 255);
  }
}
.svg-elem-16 {
  -webkit-animation: animate-svg-stroke-16 1s
      cubic-bezier(0.47, 0, 0.745, 0.715) 1.7999999999999998s both,
    animate-svg-fill-16 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.3s both;
  animation: animate-svg-stroke-16 1s cubic-bezier(0.47, 0, 0.745, 0.715)
      1.7999999999999998s both,
    animate-svg-fill-16 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.3s both;
}
